@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0); } 
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#ribbon {
    margin-top: 50px;
    top: 0px;
}

.load_button {
  background-color: #B5120F;
  border: 1px solid #B5120F;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.load_button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .load_button {
    padding: 10px 30px;
  }
}